.container-boxed {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.container-fluid {
  width: 100%;
}
.row-float::before, .row-float::after {
  content: "";
  display: table;
}
.row-float::after {
  clear: both;
}
.row-fluid {
  display: flex;
  flex-wrap: wrap;
}
.scroll-wrapper-horizontal {
  display: block;
  width: 100%;
  overflow-x: auto;
}
.scroll-wrapper-vertical {
  display: block;
  width: 100%;
  overflow-y: auto;
}
@media(max-width: 767px) {
  @include grid('sm');
}
@media(min-width: 768px) {
  @include grid('md');
}
@media(min-width: 992px) {
  @include grid('lg');
}
@media(min-width: 1200px) {
  @include grid('xl');
}
