.container-boxed {
  width: 100%;
  margin: 0 auto;
  background-color: $site-background-color;
}
.container-fluid {
  width: 100%;
}
.row-float::before, .row-float::after {
  content: "";
  display: table;
}
.row-float::after {
  clear: both;
}
.row-fluid {
  display: flex;
  flex-wrap: wrap;
}
.float {
  &__left {
    float: left;
  }
  &__right {
    float: right;
  }
}
.main-container {
  width: 100%;
  background-color: $content-background-color;
}
.scroll-wrapper-horizontal {
  display: block;
  width: 100%;
  overflow-x: auto;
}
.scroll-wrapper-vertical {
  display: block;
  width: 100%;
  overflow-y: auto;
}
.section {
  background-color: $section-background-color;
  &--border {
    border: 18px solid $section-border-color;
    border-top: none;
    @media(max-width: 767px) {
      border: 8px solid $section-border-color;
      border-top: none;
    }
  }
  &--border-fix {
    border-top: 0px;
  }
}
.page-header {
  @include font-style($page-header-font-size, $page-header-font-weight, $page-header-color, uppercase);
  margin: 0;
}
.section-header {
  @include font-style($section-header-font-size, $section-header-font-weight, $section-header-color, none);
  margin: 0;
}
.section-text {
  @include font-style($section-text-font-size, $section-text-font-weight, $section-text-color, none);
  margin: 0;
}
@media(max-width: 767px) {
  @include grid('sm');
}
@media(min-width: 768px) {
  @include grid('md');
}
@media(min-width: 992px) {
  @include grid('lg');
}
@media(min-width: 1200px) {
  @include grid('xl');
}
