@mixin grid($prefix) {
  @for $i from 1 through 12 {
    .col-#{$prefix}-#{$i} {
      $width: 100% / 12 * $i;
      flex: 0 0 $width;
      max-width: $width;
    }
  }
}
@mixin font-style($font-size, $font-weight, $color:null, $text-transform:null) {
  font: $font-weight $font-size+rem $font-family;
  color: $color;
  text-transform: $text-transform;
}
@mixin button-style($display, $background-color, $width:null, $height:null) {
  display: $display;
  @if ($width) {
    width: $width;
  }
  @if ($height) {
    height: $height;
  }
  background-color: $background-color;
  border: none;
  border-radius: 3px;
}
@mixin textarea-style($border-color, $width: null, $height: null, $padding: null) {
  width: $width;
  height: $height;
  padding: $padding;
  border: 1px solid $border-color;
  border-radius: 3px;
}
@mixin input-style($display, $border-color, $width: null, $height: null, $padding: null) {
  display: $display;
  width: $width;
  height: $height;
  padding: $padding;
  border: 1px solid $border-color;
  border-radius: 3px;
}
@mixin placeholder-style {
  &::-webkit-input-placeholder {@content;}
  &:-moz-placeholder           {@content;}
  &::-moz-placeholder          {@content;}
  &:-ms-input-placeholder      {@content;}
}
