@import "../node_modules/pikaday/css/pikaday.css";
@import "variables";
@import "mixins";
@import "normalize";
@import "layout";
@import "styleguide";

/* Components */
@import "components/balance";
@import "components/button";
@import "components/link";
@import "components/input-password";
@import "components/input-chat";
@import "components/input-icon";
@import "components/input";
@import "components/checkbox-item";
@import "components/datepicker";
@import "components/field-input";
@import "components/field-select";
@import "components/field-select-icon";
@import "components/field-textarea";
@import "components/logo";
@import "components/logout";
@import "components/manager-pane";
@import "components/member-name";
@import "components/menu-full";
@import "components/menu-short";
@import "components/message";
@import "components/messenger";
@import "components/nav-toggle";
@import "components/pagination";
@import "components/scrollbar";
@import "components/slider";
@import "components/tabs";
@import "components/table-digit";
@import "components/table-link";
@import "components/textarea";
@import "components/table-link-icon";
@import "components/table-sorting";

/* Sections */
@import "sections/chat-message";
@import "sections/checklist-one-column";
@import "sections/checklist-three-columns";
@import "sections/datepicker-module";
@import "sections/earnings-chart";
@import "sections/filter-input-selects";
@import "sections/filter-selects";
@import "sections/filter-large";
@import "sections/link-generator";
@import "sections/numbers";
@import "sections/personal-form";
@import "sections/table-links-buttons";
@import "sections/table-sorting-pagination";
@import "sections/links-module";

// /* Pages / Views */
@import "pages/login";
@import "pages/quit";
@import "pages/chat";
@import "pages/top-bar";
@import "pages/aside";
@import "pages/personal-data";
@import "pages/general";
@import "pages/details";
@import "pages/links";
@import "pages/links-popup";
@import "pages/banners";
@import "pages/banners-popup";
@import "pages/payout";
@import "pages/postback";

* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
.section {
  background-color: $section-background-color;
  &--border {
    border: 18px solid $section-border-color;
  }
  &--border-fix {
    border-top: 0px;
  }
}
.page-header {
  @include font-style($page-header-font-size, $page-header-font-weight, $page-header-color, uppercase);
  margin: 0;
}
.section-header {
  @include font-style($section-header-font-size, $section-header-font-weight, $section-header-color, none);
  margin: 0;
}
.section-text {
  @include font-style($section-text-font-size, $section-text-font-weight, $section-text-color, none);
  margin: 0;
}
