@import "variables";
@import "mixins";
@import "normalize";
@import "layout";
//   POZNIEJ
// /* Components */
// import "components/form_field";
//
// /* Sections */
// import "section/registration_form";
//
// /* Pages / Views */
// import "pages/registration";

/* Styleguide*/


// @include font-header(bold, 18, 18);
// font: bold 18px /18px "Montserrat", sans-serif;

* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
a {
  @include font($aside-font-size, $aside-font-weight);
}
