.input-icon {
  position: relative;
  &__input {
    @include font-style($form-input-font-size, $form-input-font-weight, $form-input-text-1-color, null);
    @include input-style(block, $form-input-border-color, 100%, null, 15px);
    @include placeholder-style {
      color: $textarea-placeholder-color;
    }
    padding-left: 40px;
    &:hover {
      border-color: $textarea-hover-border-color;
    }
    &:focus {
      outline: none;
    }
    &:not(:valid) + .input-icon__icon {
      fill: $textarea-placeholder-color;
    }
  }
  &__icon {
    position: absolute;
    top: 13px;
    left: 16px;
    width: 13px;
  }
}
