.manager-pane {
  opacity: 0;
  transition: 2s opacity;
  &__header {
    @include font-style($aside-font-size, $aside-medium-font-weight, $aside-item-color, uppercase);
    padding: 0 0 19px 20px;
  }
  &__row {
    @extend .row-float;
  }
  &__picture {
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background: url('../images/managerpicture.png') 0/cover;
    position: relative;
    margin-left: 20px;
    float: left;
  }
  &__status {
    width: 11px;
    height: 11px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    background-color: $chat-manager-status-color-1;
  }
  &__name {
    @include font-style($aside-font-size, $aside-light-font-weight, $aside-name-color, capitalize);
    float: left;
    text-align: left;
    margin-left: 10px;
  }
}
