.menu-full {
  background-color: $aside-background-color;
  padding: 8px 0 26px 0;
  border-bottom: 1px solid $aside-border-bottom-color;
  &__item {
    padding-left: 14px;
    border-left: 4px solid transparent;
    &:hover {
      cursor: pointer;
      border-left: 4px solid $aside-item-active-border-color;
      background-color: $aside-item-active-background-color;
      .menu-full__item-label
      {
        color: $aside-item-active-color;
      }
      .menu-full__item-icon {
        fill: $aside-item-active-color;
      }
    }
  }
  &__item-icon {
    fill: $aside-item-color;
    width: 14px;
    &--general {
      width: 16px;
      margin-right: -2px;
    }
    &--details {
      width: 14px;
    }
    &--links {
      width: 16px;
      margin-right: -2px;
    }
    &--banners {
      width: 14px;
    }
    &--personal {
      width: 10px;
      margin-right: 4px;
    }
    &--payout {
      width: 13px;
      margin-right: 1px;
    }
    &--postback {
      width: 13px;
      margin-right: 1px;
    }
  }
  &__item-label {
    @include font-style($aside-font-size, $aside-light-font-weight, $aside-item-color, null);
    padding: 15px 0 15px 13px;
    display: inline-block;
  }
}
