.menu-short {
  width: 54px;
  background-color: $aside-background-color;
  padding: 8px 0 26px 0;
  border-bottom: 1px solid $aside-border-bottom-color;
  &__item {
    border-left: 4px solid transparent;
    width: 54px;
    padding: 12px 20px 12px 14px;
    &:hover {
      cursor: pointer;
      border-left: 4px solid $aside-item-active-border-color;
      background-color: $aside-item-active-background-color;
      .menu-short__item-icon {
        fill: $aside-item-active-color;
      }
    }
  }
  &__item-icon {
    fill: $aside-item-color;
    width: 16px;
    display: inline;
  }
}
