.mobile-logout {
  height: 47px;
  padding: 15px 0 15px 14px;
  border-left: 4px solid transparent;
  &:hover {
    cursor: pointer;
    border-left: 4px solid $aside-item-active-border-color;
    background-color: $aside-item-active-background-color;
    .mobile-logout__icon {
      fill: $aside-item-active-color;
    }
  }
  &__icon {
    fill: $aside-item-color;
    width: 17px;
    display: block;
  }
}
