.notification {
  display: inline-block;
  border: 1px solid $nav-border-color;
  border-top: none;
  // z-index: 1;
  width: 60px;
  height: 60px;
  margin-left: -1px;
  padding: 0 21px;
  background-color: $content-background-color;
  &:hover {
    background-color: $nav-hover-background-color;
    cursor: pointer;
  }
  .row-fluid {
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin-top: 4px;
  }
  &__button {
    width: 30px;
    display: flex;
    position: relative;
    padding: 5px 10px 10px 0;
  }
  &__icon {
    height: 17px;
    width: 17px;
    fill: $nav-icon-color;
  }
  &__status {
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 3px;
    left: 9px;
    background-color: $content-special-color;
  }
}

// .notification {
//   display: inline-block;
//   border: 1px solid $nav-border-color;
//   border-top: none;
//   z-index: 1;
//   position: absolute;
//   width: 60px;
//   height: 60px;
//   right: 233px;
//   margin-left: -1px;
//   padding: 0 21px;
//   transition: 0.5s height;
//   overflow: hidden;
//   background-color: $content-background-color;
//   &:hover {
//     background-color: $nav-hover-background-color;
//     cursor: pointer;
//   }
//   .row-fluid {
//     justify-content: space-between;
//     align-items: center;
//     height: 60px;
//     margin-top: 4px;
//   }
//   &__button {
//     width: 30px;
//     display: flex;
//     position: relative;
//     padding: 5px 10px 10px 0;
//   }
//   &__icon {
//     height: 17px;
//     width: 17px;
//     fill: $nav-icon-color;
//   }
//   &__status {
//     position: absolute;
//     display: block;
//     width: 8px;
//     height: 8px;
//     border-radius: 50%;
//     top: 3px;
//     left: 9px;
//     background-color: $content-special-color;
//   }
// }
