.aside {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  max-width: 188px;
  width: 188px;
  transition: 1s width;
  overflow: auto;
  background-color: $aside-background-color;
  .nav-toggle {
    float: right;
  }
  .logo {
    position: absolute;
    display: block;
    transition: 1.5s opacity;
    opacity: 0;
  }
  .row-float {
    height: 53px;
  }
  .menu-full__item-label {
    transition: 1.5s opacity;
    opacity: 0;
  }
}
