.aside {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  max-width: 188px;
  width: 188px;
  transition: 1s width;
  background-color: $aside-background-color;
  .nav-toggle {
    float: right;
  }
  .logo {
    position: absolute;
    display: block;
    transition: 2s opacity;
    opacity: 1;
  }
  .row-float {
    height: 53px;
  }
  .menu-full__item-label {
    transition: 2s all;
    // transition: 2s opacity;
    // opacity: 1;
  }
  // @media(max-width: 767px) {
  //   width: 54px;
  //   .logo {
  //     display: none;
  //     opacity: 0;
  //   }
  //   .menu-full {
  //     padding-bottom: 0;
  //   }
  //   .menu-full__item-label {
  //     display: none;
  //     opacity: 0;
  //   }
  //   .manager-pane {
  //     display: none;
  //     opacity: 0;
  //   }
  //   .manager-pane-mobile {
  //     display: block;
  //     opacity: 1;
  //   }
  // }
}
