.chat {
  max-width: 1074px;
  background-color: $content-background-color;
  display: none;
  @media(max-width: 1199px) {
    max-width: 849px;
  }
  @media(max-width: 991px) {
    max-width: 625px;
  }
  @media(max-width: 767px) {
    max-width: 450px;
  }
  @media(max-width: 576px) {
    max-width: 360px;
  }
  &__close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 32px;
    padding: 0 10px 10px;
    fill: $color-3;
    &:hover {
      fill: $color-11;
      cursor: pointer;
    }
  }
  .page-header {
    padding: 19px;
    position: relative;
  }
}
