.checklist-banners {
  width: 50%;
  padding: 0 19px;
  border-right: 1px solid $element-border-color;
  .section-header {
    padding: 29px 0 20px;
  }
  .scroll-wrapper-vertical {
    height: 352px;
    margin-bottom: 18px;
  }
}
