.details {
  .page-header {
    padding: 19px 18px 16px;
    border-bottom: 1px solid $element-border-color;
  }
  .scroll-wrapper-horizontal {
    margin: 0 auto;
    @media(max-width: 767px) {
      max-width: 325px;
    }
    @media(min-width: 768px) {
      max-width: 507px;
    }
    @media(min-width: 992px) {
      max-width: 690px;
    }
    @media(min-width: 1200px) {
      max-width: 920px;
    }
  }
  .table-sorting-pagination {
    border-top: 1px solid $element-border-color;
    @media(min-width: 992px) {
      padding: 34px 18px 0;
    }
    @media(min-width: 768px) {
      padding: 34px 10px 0;
    }
  }
  .table-sorting {
    font-size: $table-data-content-small-font-size+rem;
    min-width: 1135px;
  }
  .pagination {
    @media(max-width: 767px) {
      max-width: 325px;
    }
  }
  .pagination__page-link:last-of-type {
    @media(max-width: 767px) {
      display: none;
    }
  }
  .pagination__page-link:first-of-type {
    @media(max-width: 767px) {
      margin-left: 24px;
    }
  }
  .pagination__page-link:nth-child(7) {
    @media(max-width: 767px) {
      margin-right: 14px;
    }
  }
  .pagination__page-link:nth-child(8), .pagination__page-link:nth-child(9) {
    @media(max-width: 767px) {
      display: none;
    }
  }
}
