.links {
  .page-header {
    padding: 19px 18px 15px;
    border-bottom: 1px solid $element-border-color;
  }
  .table-link-icon {
    max-width: 688px;
    margin: 0 auto;
  }
  .button {
    text-transform: none;
    margin: 23px auto 25px;
  }
}
