.login {
  width: 772px;
  background-color: $content-background-color;
  display: none;
  @media(max-width: 991px) {
    max-width: 625px;
  }
  @media (max-width: 767px) {
    max-width: 325px;
  }
  &__buttons {
    padding: 47px 47px 55px;
    @media (max-width: 767px) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  .page-header {
    padding: 19px 0 15px 18px;
    border-bottom: 1px solid $element-border-color;
  }
  .input-icon {
    display: flex;
    width: 37%;
    padding-right: 18px;
    height: 40px;
    @media(max-width: 767px) {
      width: 100%;
      padding-right: 0;
      margin-bottom: 20px;
    }
  }
  .input-password {
    padding-right: 18px;
    display: flex;
    width: 37%;
    height: 40px;
    @media(max-width: 767px) {
      width: 100%;
      padding-right: 0;
      margin-bottom: 20px;
    }
  }
  .button {
    display: flex;
    justify-content: center;
    width: 26%;
    height: 40px;
    @media(max-width: 767px) {
      margin: 0 auto;
      width: 50%;
    }
  }
}
