.checklist-three-columns {
  width: 100%;
  padding: 0 19px;
  .section-header {
    padding: 29px 0 20px;
  }
  .scroll-wrapper-vertical {
    height: 422px;
    margin-bottom: 18px;
    display: flex;
  }
}
