.earnings-chart {
  @media(max-width: 767px) {
    max-width: 325px;
  }
  @media(min-width: 768px) {
    max-width: 430px;
  }
  @media(min-width: 992px) {
    max-width: 685px;
  }
  padding: 76px 0 0;
  .section-header {
    padding-bottom: 32px;
  }
  &__canvas-wrapper {
    position: relative;
    margin: auto;
    margin-bottom: 45px;
  }
  &__canvas {}
}
