.filter-selects {
  max-width: 1074px;
  padding: 0 17px 36px;
  border-bottom: 1px solid $element-border-color;
  display: flex;
  flex-wrap: wrap;
  .field-select {
    display: flex;
    margin: 0 18px;
    width: calc(33% - 12px);
    padding-top: 26px;
    max-width: none;
    &:first-of-type {
      margin: 0;
    }
    &:last-of-type {
      margin: 0;
    }
    @media (max-width: 767px) {
      width: 100%;
      margin: 0;
    }
  }
  .field-select__label {
    width: 100%;
  }
}
