.numbers {
  padding-top: 18px;
  border-top: 1px solid $element-border-color;
  &__wrapper {
    margin: 0 auto;
    @media(max-width: 767px) {
      max-width: 325px;
    }
    @media(min-width: 768px) {
      max-width: 430px;
    }
    @media(min-width: 992px) {
      max-width: 685px;
    }
  }
  &__column {
    display: flex;
    flex-direction: column;
    width: 100%;
    &--left {
      @media(min-width: 768px) {
        padding-right: 10%;
      }
    }
    &--right {
      @media(min-width: 768px) {
        padding-left: 10%;
      }
    }
  }
  &__line {
    display: flex;
    justify-content: space-between;
    padding: 22px 0 8px;
    border-bottom: 1px solid $element-border-color;
  }
  .section-header { }
  .section-text {}
}
