.numbers {
  max-width: 688px;
  margin: 0 auto;
  &__column {
    margin-right: 63px;
    width: 309px;
    display: inline-block;
    &:last-of-type {
      margin-right: 0;
    }
  }
  &__line {
    padding: 22px 0 8px;
    border-bottom: 1px solid $element-border-color;
  }
  .section-header {
    display: inline-block;
  }
  .section-text {
    display: inline-block;
    float: right;
  }
}
