.personal-form {
  &__field-set {
    border-bottom: 1px solid $form-input-border-color;
    .personal-form__label {
      &:first-of-type {
        padding-top: 43px;
      }
      &:last-of-type {
        padding-bottom: 43px;
      }
    }
  }
  &__label {
    max-width: 454px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    @media(max-width: 767px) {
      flex-direction: column;
      max-width: 415px;
    }
  }
  .section-header {
    padding: 15px 0;
    display: inline-block;
    @media(max-width: 767px) {
      display: block;
      width: 100%;
    }
  }
  .input {
    width: 309px;
    display: inline-block;
    @media(max-width: 767px) {
      display: block;
      width: 100%;
    }
  }
  .button {
    margin: 32px auto 34px;
  }
}
